.navbarIcon {
    font-size: 0.7rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    color: #ffffff;
    width: 200px;
    margin: 0px;
}

.navbarIcon:hover {
    color: #0091a1;
    text-decoration: none;
}

.iconFontAwesone {
    font-size: 20px;
}

p {
    padding-top: 5px;
}