.sectionBrown {
    background-color: #bf9b77;
    font-family: 'Quicksand', sans-serif;
}

a {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

a:hover {
    color: #0091a1;
}

img {
    width: 216px;
    height: 100px;
}