$font: 'Quicksand', sans-serif;

$color-blue: #0091a1;
$color-brown: #bf9b77;
$color-dark-brown: #532e1c;
$color-red: #e34724;
$color-white: #ffffff;

.sectionBrown {
    background-color: $color-brown;
    font-family: $font;
    .navbarLogo {
        width: 216px;
        height: 100px;
        margin-right: 20px;
    }
    .navbar-toggler-icon {
        background-image: url("http://localhost:3000/images/menu.png");
    }
    .navbar-collapse {
        align-items: baseline;
        a {
            color: $color-white;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
        }
        a:hover {
            color: $color-blue;
        }
        .dropdown-item {
            color: $color-dark-brown;
        }
        .activeSection {
            color: $color-blue;
        }
    }
    .searchBtn {
        color: $color-white;
        font-size: 20px;
        border: none;
    }
    .searchBtn:hover {
        color: $color-blue;
    }
    .navbarIconsSection {
        display: flex;
        width: 250px;
        .navbarIcon {
            color: $color-white;
            font-size: 0.8rem;
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr;
            justify-items: center;
            align-items: center;
            width: 200px;
            margin: 0px;
            .iconFontAwesone {
                font-size: 20px;
            }
            p {
                padding-top: 5px;
            }
        }
        .navbarIcon:hover {
            color: $color-blue;
            text-decoration: none;
        }
    }
}

//Media queries

//Extra small
@media screen and (max-width: 575px) {
    .sectionBrown {
        .navbarLogo {
            width: 180px;
            height: 79px;
        }
    }
}

//Medium
@media screen and (min-width: 768px) and (max-width: 991px) {
    .homeTitle {
        font-size: 0.9rem;
    }
}