.sectionBrown {
    background-color: #bf9b77;
    font-family: 'Quicksand', sans-serif;
}

.navbar-collapse {
    align-items: baseline;
}

a {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
    color: #0091a1;
}

img {
    width: 216px;
    height: 100px;
    margin-right: 20px;
}

.dropdown-item:hover {
    color: #0091a1;
}

.searchBtn {
    color: #ffffff;
    font-size: 20px;
    border: none;
}

.searchBtn:hover {
    color: #0091a1;
}

.navbarIconsSection {
    display: flex;
    width: 250px;
}

.navbarIcon {
    font-size: 0.7rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    color: #ffffff;
    width: 200px;
    margin: 0px;
}

.navbarIcon:hover {
    color: #0091a1;
    text-decoration: none;
}

.iconFontAwesone {
    font-size: 20px;
}

p {
    padding-top: 5px;
}